/*  최종 적용 css파일  */

@import "components/nav_bar.css";
@import "components/screen-header.css";
@import "components/search.css";
@import "screens/footer.css";

body {
  height: 200vh;
  color: #2e363e;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

.nav {
  background: #d1bcff;
}

.free_chat {
  position: relative;
  top: 150px;
  background-color: #d1bcff;
  height: 50vh;
  width: 100%;
}

.text_input {
  width: 100%;
  bottom: 100px;
}

#live-chat {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 1;

  border: none;
  border-radius: 15px;
  background: #d1bcff;
  color: #000000;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0px 5px 10px #808080;
  cursor: pointer;
}


