/*  최종 적용 css파일  */

@import "components/nav_bar.css";
@import "components/screen-header.css";
@import "components/search.css";
@import "screens/footer.css";

body {
  height: 200vh;
  color: #2e363e;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

.free_chat {
  position: relative;
  top: 150px;
  background-color: yellow;
  height: 50vh;
  width: 100%;
}

.text_input {
  width: 100%;
  bottom: 100px
}


