/*  하단 메뉴 버튼(홈, 커뮤니티, 운동기록, 사용자 정보)  */

.nav {
  width: 100%;
  padding: 30px;
  background-color: #e8eb51;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__btn {
  color: #2e363e;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}