/*  사이트 상단 바(사이트명 및 검색, 설정)  */

.screen-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;

}

.screen-header__title {
  font-size: 40px;
  font-weight: 600;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}
